streamlit
pandas
plotly
python-dotenv
yagmail
# AI Libraries (No versions = No conflicts)
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-pinecone
pinecone-client
sentence-transformers
# This fixes the missing module error
langchain-huggingface