streamlit
pandas
plotly
python-dotenv
yagmail
# Stable Versions (The "Golden Era")
pinecone-client==3.2.2
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-google-genai==1.0.3
langchain-pinecone==0.1.0